<!--<app-interpolation></app-interpolation>-->
<!-- <app-dropdown-list></app-dropdown-list> -->
<!-- <div>
    
    <a routerLink="home">Home</a>|
    <a routerLink="about">About Us</a>|
    <a routerLink="contact">Contact Us</a>

<router-outlet></router-outlet>
</div> -->
<!-- <div>
    <form >
        <app-home></app-home>
        <app-contact-us></app-contact-us>
        <app-about-us></app-about-us>
        <button class="btn btn-success">Submit</button>
    </form>
</div> -->
<!-- <app-about-us></app-about-us> -->
<!-- <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <app-about-us (ChildToParent)="onAbout($event)" [(ngModel)]="aboutData" formControlName="about"></app-about-us>
    <app-contact-us (ChildToParent)="onContact($event)" [(ngModel)]="contactData" formControlName="contact"></app-contact-us >
    <input type="submit" value="Submit" class="btn btn-success">

</form> -->
<app-quiz></app-quiz>
